*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: #0a680a;
    display: flex;
    flex-direction: column;
    align-items: center;
}
::-webkit-scrollbar {
    display: none;
}
.titulo{
    position:relative;
    text-align: center;
    display: block;
    background-color: black;
    height: 250px;
    width: 100%;
    line-height: 250px;
    color: white;
    font-size: 85px;
    font-family: 'Times New Roman', Times, serif;
}
.game{
    display: block;
    height: 90%;
    width: 88.54%;
    margin-left: 5.73%;
    margin-right:5.73%;
    background-color: #054905;
    box-shadow: 0px 0px 55px 0px #000000;
} 
.back{
   visibility:visible;
   width:250px;
   margin-top: 60px;
}
.carta{
    position:relative;
    width: 250px;
    left: 100px;
    margin-left: -215px;
    margin-top: 0px;
} 
.ul-botones{
    clear: both;
    background-color: #b8b7b767;
    box-shadow: 0px 10px 50px 0px #00000096;
    border-bottom: 1px solid #000000;
    border-radius: 05px;
    width: 100%;
    height: 70px;
}
.ul-botones li{
    display: block;
    float: left;
    text-align: center;
    line-height:70px;
    width:calc(100%/3);
}
.responsive-game{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    

}
.div-jugador{   
    order: 0;
    flex-basis: 40%;
    display: block;
    margin: 40px;
    margin-top: 0px;
    margin-bottom: 5px;
    float: left;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 25px;
    max-height: 86%;
}
.div-stats{ 
    order: 2;
    flex-basis: 27%;

    display: block;

    margin-bottom: 30px;
    text-align: center;
    color:#ffffff; 
    width:20%;
    max-height: 86%;
}
.div-computadora{
    order: 1;
    flex-basis: 40%;

    display: block;    

    margin: 40px;
    margin-top: 0px;
    margin-bottom: 5px;

    float: right;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 25px;
    height: 86%;
    max-height: 86%;
}

footer{
    clear: both;
    text-align: center;
    background-color:black;
    color: white;
    height:80px;
    line-height: 80px;
    width: 100%;
}

address a{
    font-size: 18px;
    text-align: center;
    color: white;
    text-decoration: none;
}
.btn{
    border-radius:  10px;
    border: 1px;
    padding: 7px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 10px;
    margin: 10px;
    color: white;
    background-color: rgb(13, 141, 245);
    font-size: 18px;
    text-decoration: none;
}
.amarillo{
    background-color: rgb(255, 255, 0);
    color: #000000;
}
.rojo{
    background-color: red;
    color:#ffffff;
}
.verde{
    background-color: rgb(0, 199, 133);
    color:rgb(255, 255, 255);

}
.div-stats h3{
    padding-bottom: 7px;
    font-size: 22px;
}
h2{
    padding-bottom: 12px;
    color: wheat;
    font-size: 32px;
    text-shadow: #000000 0px 0px 17px;
}
address a:hover {
	text-decoration: underline;
}
#modal-container{
	visibility: hidden;
	position: fixed;
	z-index: 1000px;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background:#11111169 ;
	display: flex;
	justify-content: center;
	align-items: center;
}
#modal{
	width: 60%;
	height: 70%;
    max-width: 850px;
    min-width: 500px;
    max-height: 900px;
	overflow: hidden;
    background-color: rgb(99, 182, 83);
    border-radius: 10px;
	text-align: center;
	transition: transform 0.7s;
	transform: translateY(-150%);
}
.top{
    text-align: right;
    color: rgb(255, 255, 255);
}
.intrucciones{
    color: aliceblue;
    font-size: large;
}
.intrucciones p{
    text-align: justify;
    margin: 20px;
    margin-bottom: 10px;
}
.intrucciones h4{
    color: rgb(255, 255, 255);
}
.intrucciones li{
    margin-right: 25px;
    text-align: justify;
    margin-left: 40px;
    margin-bottom: 7px;
    margin-top: 7px;
}
.cerrar{
    text-shadow: 0 0 2px black;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 25px;
    height: 30px;
    border-radius: 5px;
    margin: 10px;
    padding: 0px;
    padding-left: 11px;
    padding-right: 10px;
    padding-bottom: 34px;
}