*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: #0a680a;
}
::-webkit-scrollbar {
    display: none;
}
.titulo{
    position:absolute top;
    text-align: center;
    background-color: black;
    height: 200px;
    width: 100%;
    line-height: 200px;
    color: white;
    font-size: 85px;
    font-family: 'Times New Roman', Times, serif;
}
.game{
    display: block;
    height: 90%;
    width: 88.54%;
    margin-left: 5.73%;
    background-color: #054905;
    box-shadow: 0px 0px 55px 0px #000000;
} 
.back{
   visibility:visible;
   width:250px;
   margin-top: 60px;
}
.carta{
    position:relative;
    width: 250px;
    left: 100px;
    margin-left: -200px;
    margin-top: 0px;
} 
.carta-computadora{
    position:relative;
    width: 250px;
    left: 100px;
    margin-left: -200px;
    margin-top: -375px;
    
} 
.ul-botones{
    clear: both;
    background-color: #b8b7b767;
    box-shadow: 0px 10px 50px 0px #00000096;
    border-bottom: 1px solid #000000;
    border-radius: 05px;
    width: 100%;
    height: 70px;
}
li{
    display: block;
    float: left;
    text-align: center;
    line-height:70px;
    width:calc(100%/3);
}
.div-jugador{   
    display: block;
    float: left;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 25px;
    width: 35%;
    max-height: 86%;
}
.div-computadora{
    display: block;    
    float: left;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 25px;
    width: 35%;
    height: 86%;
    max-height: 86%;
}
.div-stats{ 
    display: block;
    float:left;
    text-align: center;
    color:#ffffff; 
    padding-top: 15px;
    margin-bottom: 25px;
    width:30%;
    max-height: 86%;
}
footer{
    clear: both;
    text-align: center;
    background-color:black;
    color: white;
    height:80px;
    line-height: 80px;
    width: 100%;
}
address{
    font-size: 18px;
}
address a{
    text-align: center;
    color: white;
    text-decoration: none;
    background-color: black;
}
.btn{
    border-radius:  10px;
    border: 1px;
    padding: 7px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 10px;
    margin: 10px;
    color: white;
    background-color: rgb(13, 141, 245);
    font-size: 18px;
    text-decoration: none;
}
.amarillo{
    background-color: rgb(255, 255, 0);
    color: #000000;
}
.rojo{
    background-color: red;
    color:#000000 ;
}
.verde{
    background-color: rgb(0, 199, 133);
    color:black;

}
.div-stats h3{
    padding-bottom: 7px;
    font-size: 22px;
}
h2{
    padding-bottom: 12px;
    color: wheat;
    font-size: 35px;
    text-shadow: #000000 0px 0px 17px;
}
address a:hover {
	text-decoration: underline;
}


#modal-container{
	visibility: hidden; 
	position: fixed;
	z-index: 1000px;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background:#11111169 ;
	display: flex;
	justify-content: center;
	align-items: center;
}
#modal{
	width: 40%;
	height: 60%;
	overflow: hidden;
    background-color: rgb(99, 182, 83);
	text-align: center;
	transition: transform 0.8s;
	transform: translateY(-150%);
}
.derecha{
    color: rgb(233, 233, 233);
    display: block;
    margin-left: 89%;
}   
.intrucciones{
    color: aliceblue;
    margin-top: 15px;
}